
<section>
  <div class="new-banner">
    <div class="container">
      <div class="new-banner__inner">
        <img src="{{ section.settings.img | img_url: '1920x' }}" width="100%"> 
        <h1 class="new-banner__title">
          {% if section.settings.title %}
          {{ section.settings.title }}
          {% else %}
          {{ collection.title }}
          {% endif %}
        </h1>
        <p class="new-banner__text">{{ section.settings.text }}</p>
        <ul>

          {% for block in section.blocks %}
          <li>{{ block.settings.list_text }}</li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</section>




{% schema %}
{
   "name":"New Banner",
   "presets":[
      {
         "name":"New Banner"
      }
   ],
   "settings":[
      {
         "type":"image_picker",
         "id":"img",
         "label":"Image"
      },
      {
         "type":"text",
         "id":"title",
         "label":"Title"
      },
      {
         "type":"textarea",
         "id":"text",
         "label":"Text"
      }
   ],
   "blocks":[
      {
         "type":"list",
         "name":"List",
         "settings":[
            {
               "type":"text",
               "id":"list_text",
               "default":"Item",
               "label":"Item"
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
