<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<!-- =================404 Area Starts================= -->
<div class="page-404-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="img-404 text-center">
          <img src="{{ settings.page_not_found | img_url: 'master' }}" alt="404 image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================404 Area Ends================= -->



<!-- <div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div> -->


