{% if section.settings.show_brands %}
<!-- =================Brand Area Starts================= -->

<div class="brand-area">
  <div class="container">
    <div class="brand-active mt-30">
      {% for block in section.blocks %}
      {% if block.type == 'brand' %}
      <div class="single-brand">
        <div class="brand-img">
          <img src="{{ block.settings.brand_img | img_url: 'master' }}" alt="brand-logo-{{ forloop.index }}">
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- =================Brand Area Ends================= -->
{% endif %}

{% if section.settings.show_newsletter %}
{% if section.settings.show_only_homepage %}
<!-- =================Subscribe Area Starts================= -->
<div class="subscribe-area subscribe-area-2 pt-20 pb-30 ">
  <div class="container">
    <div class="row">
      {%- if section.settings.newsletter_heading != blank -%}
      <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12">
        <div class="discount-text ">
          <p>{{ section.settings.newsletter_heading | escape }}</p>
        </div>
      </div>
      {%- endif -%}
      <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12 mx-auto">
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" {% if form.errors %} autofocus aria-invalid="true" aria-describedby="ContactFooter-error" {% elsif form.posted_successfully? %} aria-describedby="ContactFooter-success" {% endif %} placeholder="{{ 'newsletter.label' | t }}" required >
        <button type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
          Subscribe
        </button>

        {%- if form.errors -%}
        <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
        {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
<!-- =================Subscribe Area Starts================= -->
{% endif %}
{% endif %}

<!-- =================Footer Area Starts================= -->

<footer class="footer-area footer-area-2 ">
  <div class="footer-menu pt-40 pb-40">
    <div class="container">
      <div class="row">
        {% if section.settings.menu1_title != blank %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mx-auto">
          <div class="footer-widget">
            <h4>{{ section.settings.menu1_title }}</h4>
            {% assign new_menu1 = section.settings.menu1 %}
            <ul class="footer-info">
              {%- for link in new_menu1.links -%}
              <li><a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if section.settings.menu2_title != blank %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mx-auto">
          <div class="footer-widget">
            <h4>{{ section.settings.menu2_title }}</h4>
            {% assign new_menu2 = section.settings.menu2 %}
            <ul class="footer-info">
              {%- for link in new_menu2.links -%}
              <li><a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if section.settings.menu3_title != blank %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mx-auto">
          <div class="footer-widget">
            <h4>{{ section.settings.menu3_title }}</h4>
            {% assign new_menu3 = section.settings.menu3 %}
            <ul class="footer-info">
              {%- for link in new_menu3.links -%}
              <li><a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if section.settings.menu4_title != blank %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 mx-auto">
          <div class="footer-widget">
            <h4>{{ section.settings.menu4_title }}</h4>
            {% assign new_menu4 = section.settings.menu4 %}
            <ul class="footer-info">
              {%- for link in new_menu4.links -%}
              <li><a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
  <div class="footer-bottom pt-25">
    <div class="container">
      <div class="copyright d-inline-block ">
        <p>CopyRight ©2019  Design by <a href="https://themeforest.net/user/wpsmasher" target="_blank">@Wpsmasher</a>. All Rights Reserved.</p>
      </div>
      <div class="payment-card float-right">
        <ul class=" d-flex">
          <li><a href="#"><i class="fab fa-cc-paypal" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fab fa-cc-stripe" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fab fa-cc-visa" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fab fa-cc-mastercard" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fab fa-cc-amex" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- =================Footer Area Ends================= -->


{% schema %}
{
   "name":"Moly Footer",
   "settings":[
      {
         "type":"header",
         "content":"Brands"
      },
      {
         "type":"checkbox",
         "id":"show_brands",
         "label":"Show Brands",
         "default":true
      },
      {
         "type":"header",
         "content":"Newsletter"
      },
      {
         "type":"checkbox",
         "id":"show_newsletter",
         "label":"Show NewsLetter",
         "default":true
      },
      {
         "type":"checkbox",
         "id":"show_only_homepage",
         "label":"Show NewsLetter Only Homepage",
         "default":true
      },
      {
         "type":"text",
         "id":"newsletter_heading",
         "label":"Newsletter Heading",
         "default":"Get Discount 30% Off !"
      },
      {
         "type":"header",
         "content":"Menus"
      },
      {
         "type":"text",
         "id":"menu1_title",
         "label":"Menu 1 Title",
         "default":"Information",
         "info":"if title is blank you don't show menu"
      },
      {
         "type":"link_list",
         "id":"menu1",
         "label":"Select Menu 1"
      },
      {
         "type":"text",
         "id":"menu2_title",
         "label":"Menu 2 Title",
         "default":"Customer Service",
         "info":"if title is blank you don't show menu"
      },
      {
         "type":"link_list",
         "id":"menu2",
         "label":"Select Menu 2"
      },
      {
         "type":"text",
         "id":"menu3_title",
         "label":"Menu 3 Title",
         "default":"My Account",
         "info":"if title is blank you don't show menu"
      },
      {
         "type":"link_list",
         "id":"menu3",
         "label":"Select Menu 3"
      },
      {
         "type":"text",
         "id":"menu4_title",
         "label":"Menu 4 Title",
         "default":"Extras",
         "info":"if title is blank you don't show menu"
      },
      {
         "type":"link_list",
         "id":"menu4",
         "label":"Select Menu 4"
      }
   ],
   "blocks":[
      {
         "type":"brand",
         "name":"Brand Slide",
         "settings":[
            {
               "type":"image_picker",
               "id":"brand_img",
               "label":"Brand logo image"
            }
         ]
      }
   ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}