

<!-- =================Slider Area Starts================= -->

    <div class="slider-area slider-area-2 owl-carousel position-relative">
      
       {% for block in section.blocks %} 
      <div class="single-slide  " style="background-image: url({{ block.settings.img | img_url: 'master' }});">
        <div class="slider-content slider-height">
          <div class="container">
            <div class="row">

              <div class="col-xl-5 col-lg-7 col-md-7 col-sm-12 offset-xl-0 offset-lg-2 ">
                <div class="hero-text ">
                  <p>{{ block.settings.small_text }}</p>
                  <h1>
                    {{ block.settings.title }}
                  </h1>
                  <span class="d-block">{{ block.settings.offer }}</span>
                  <div class="hero-button pt-30">
                    <a href="{{ block.settings.btn_url }}" class="sbtn">{{ block.settings.btn_text }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <!-- =================Slider Area Ends================= -->

{% schema %}
  {
    "name": "Moly Banner",
	"presets": [
		{
			"name": "Moly Banner"
		}
	],
    "settings": [],
	"blocks":[
      {
         "type":"slide",
         "name":"Slide",
         "settings":[
            {
               "type":"image_picker",
               "id":"img",
               "label":"Background Image"
            },
            {
               "type":"text",
               "id":"small_text",
               "label":"Small Text"
            },
            {
               "type":"text",
               "id":"title",
               "label":"Title"
            },
            {
               "type":"text",
               "id":"offer",
               "label":"Offer Text"
            },
            {
               "type":"text",
               "id":"btn_text",
               "label":"Button Text"
            },
            {
               "type":"url",
               "id":"btn_url",
               "label":"Offer URL"
            }
         ]
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
